* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 0 50px 0;
}

header {
	background: #003333;
	height: 80px;
	width: 100%;
}

header h1{
	color: #FFF;
	font-weight: bold;
}

nav {
	top: 0;
	width: 100%;
	z-index: 9999;
}

nav ul li {
	display: inline;
	list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

main {
	margin: 5% 0 0 0;
}

.panel-heading {
	background: #003333;
}

footer {
	width: 100%;
	text-align: center;
}
