* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #003333;
}

header h1{
	color: #FFF;
	font-weight: bold;
}

nav {
	background: #003333;
}

nav ul li {
	display: inline;
	list-style: none;
}

a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

#login_main {
	margin: 10% 0 0 0;
}

#signup_main {
	margin: 5% 0 5% 0;
}

footer {
	background-color: #F0F0F0;
	text-align: center;
}